<!-- Portifolio -->
<section class="app-banner">
  <div id="portifolio" class="container d-flex flex-column my-auto mt-5 mb-5">
    <span class="display-5 fw-bold text-center">Portfólio</span>

    <p class="fs-5 mt-5">
      Nesta seção, apresento alguns projetos dos quais participei no processo de desenvolvimento.
      Cada projeto reflete uma diferente fase do meu aprendizado e das minhas habilidades como
      desenvolvedor!
    </p>

    <div class="row justify-content-center g-3 mt-5">
      @for (item of itensPortfolio; track $index) {
        <div class="col-lg-4 col-md-8 col-sm-12">
          <div class="card rounded-4 h-100">
            <img
              id="imgCard"
              class="card-img-top rounded-top-4"
              style="max-height: 250px"
              [src]="item.urlImagem"
            />
            <div class="card-body d-flex flex-column gap-2 h-100">
              <span id="stackCard" class="d-flex gap-1">
                @for (itemStack of item.stack; track $index) {
                  <img [src]="itemStack" width="35px;" />
                }
              </span>
              <h5 id="tituloCard" class="card-title mt-2">{{ item.titulo }}</h5>
              <div class="d-flex gap-2 mt-auto">
                <button
                  type="button"
                  (click)="itemPortfolioSelecionado = item"
                  class="btn px-4 app-btn-principal"
                  data-bs-toggle="modal"
                  data-bs-target="#portfolioModal"
                  id="btnVerProjeto"
                >
                  <i class="bi bi-window-plus"></i>
                  Ver projeto
                </button>
                <a
                  id="urlRepositorio"
                  [href]="item.urlRepositorio"
                  target="_blank"
                  class="btn btn-outline-light"
                >
                  <i class="bi bi-github"></i>
                  Repositório
                </a>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</section>

<!-- Modal -->
<div
  class="modal fade"
  id="portfolioModal"
  tabindex="-1"
  aria-labelledby="portfolioModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-md">
    <div class="modal-content bg-dark text-white rounded-4">
      <div class="modal-header">
        <h5 class="modal-title" id="portfolioModalLabel">{{ itemPortfolioSelecionado?.titulo }}</h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Fechar"
        ></button>
      </div>
      <div class="modal-body text-center rounded-bottom-4 modal-body-customizado">
        <img
          id="portfolioModalImage"
          [src]="itemPortfolioSelecionado?.urlImagem"
          alt="Imagem do Projeto"
          class="img-fluid mb-3"
        />

        <span id="stackCard" class="d-flex justify-content-center gap-1 mb-2">
          @for (itemStack of itemPortfolioSelecionado?.stack; track $index) {
            <img [src]="itemStack" width="35px;" />
          }
        </span>

        <p>{{ itemPortfolioSelecionado?.descricao }}</p>

        <a
          id="urlRepositorio"
          [href]="itemPortfolioSelecionado?.urlRepositorio"
          target="_blank"
          class="btn btn-outline-light"
        >
          <i class="bi bi-github"></i>
          Repositório
        </a>
      </div>
    </div>
  </div>
</div>
