<section id="habilidades" class="app-banner">
  <div class="container-fluid d-flex justify-content-center align-items-center">
    <div class="fs-5 my-auto">
      <h3 class="display-5 mb-5 mt-5 fw-semibold text-center">Minhas habilidades</h3>

      <div class="row row-cols-1 row-cols-lg-2 g-5 mt-5 mx-2 mb-5">
        @for (item of itensHabilidades; track $index) {
          <div class="d-flex align-items-center gap-4">
            <span>
              <i class="bi {{ item.icone }} fs-1"></i>
            </span>
            <div class="d-flex flex-column">
              <label class="fs-4 fw-semibold">{{ item.titulo }}</label>

              <small class="fs-5">{{ item.descricao }}</small>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</section>
