
  <nav class="navbar navbar-expand-md navbar-expand-lg sticky-top app-background-secundario">
  <div class="container">
      <a class="navbar-brand fw-semibold fs-2 mb-2" href="#">Portfólio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div id="navbarNav" class="navbar-collapse justify-content-end collapse">
          <ul class="navbar-nav">
              <li class="nav-item fs-5">
                  <a class="nav-link" href="#">Início</a>
              </li>
              <li class="nav-item fs-5">
                  <a class="nav-link" href="#sobre">Sobre</a>
              </li>
              <li class="nav-item fs-5">
                  <a class="nav-link" href="#habilidades">Habilidades</a>
              </li>
              <li class="nav-item fs-5">
                  <a class="nav-link" href="#contato">Contato</a>
              </li>
              <li class="nav-item fs-5">
                  <a class="nav-link" href="#portifolio">Portifólio</a>
              </li>
          </ul>
      </div>
  </div>
</nav>

<section id="app-banner" class="rounded-1 p-3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-8 order-0 order-lg-1 bg-foto mx-auto mb-2 pt-2">
            <img class="img-fluid mt-4" src="fotoLuizVicente.png" alt="Foto Luiz Vicente">
        </div>
          <div class="col-lg-8 col-md-12" >
              <div class="textContent">
                <h3 class="fs-2 mb-1 text-white mb-4">Olá, eu sou <strong>Luiz Vicente!</strong></h3>
                <span class="fs-2 fw-bold banner-text">"Desenvolvedor .Net C# Full-Stack"</span>
              </div>
              <div class="d-flex align-items-center mt-3 gap-3">
                  <a class="app-btn-principal" href="#contato">Contate-me!</a>
                  <a target="_blank" href="https://github.com/vicentejrmc">
                      <img alt="Github logo" src="github.png" />
                  </a>
                  <a target="_blank" href="">
                      <img alt="Linkedin logo" src="linkedin.png" />
                  </a>
              </div>
          </div>
        </div>
    </div>
</section>

<section id="sobre" class="container mb-2">
  <div class="fs-5 my-auto">
      <h2 class="display-5 mb-5 mt-5 fw-semibold text-center">Sobre mim</h2>
      <p class="mt-2 text-white">
        Desenvolvedor em constante aprendizado!<br>
        Tenho me empenhado constantemente
        à aprender e aperfeiçoar técnicas
        que me tornem um profissional capacitado, tentando me manter sempre atualizado com o que há de mais moderno no que se diz respeito ao Desenvolvimento de Aplicações Web.<br>
        Atualmente tenho desenvolvido soluções com a finalidade de aprender e evoluir na plataforma .Net C#.
        criando alicações MVC, WebApi e Angular.<br>
        Na sessão de <a href="#portifolio"><span class="app-banner-text">Portifólio</span></a> poderá ver alguns projetos nos quais participei. cada um representa uma fase de meu aprendizado!
      </p>
  </div>
</section>

<section id="app-banner" class="container-fluid d-flex justify-content-center align-items-center">
  <div class="fs-5 my-auto">
    <h3 id="habilidades" class="display-5 mb-5 mt-5 fw-semibold text-center">Minhas habilidades</h3>

    <div class="row row-cols-1 row-cols-lg-2 g-5 mt-5 mx-2 mb-5">
      @for(item of itensHabilidades; track $index){
        <div class="d-flex align-items-center gap-4">
            <span>
              <i class="bi {{ item.icone}} fs-1"></i>
            </span>
            <div class="d-flex flex-column">
                <label class="fs-4 fw-semibold">{{item.titulo}}</label>

                <small class="fs-5">{{item.descricao}}</small>
            </div>
        </div>
      }
    </div>
  </div>
</section>

<section id="habilidades" class="container my-5">
  <div class="d-flex flex-column my-auto">
    <h2 class="display-5 fw-bold text-center">Tecnologias</h2>
    <p class="fs-5 mt-5 ps-3">
      Aqui você poderá conhecer as príncipais tecnologias com que já tive contato, e tenho desenvolvido hábilidades durante a minha jornada como desenvolvedor. Abaixo, Tecnologias, ferramentas e frameworks que já estou utilizando.
    </p>

    <div class="d-flex flex-wrap justify-content-center align-items-center gap-3 mt-5">
      @for(itemHabilidade of itensHabildades2; track $index){
        <div class="d-flex flex-column align-items-center gap-2">
            <img src="75" [src]="itemHabilidade.icone" [alt]="itemHabilidade.titulo"/>
            <span>{{itemHabilidade.titulo}}</span>
        </div>
      }
    </div>
  </div>
</section>

<!-- Portifolio -->
<section id="app-banner">
  <div id="portifolio" class="container d-flex flex-column my-auto mt-5 mb-5">
    <span class="display-5 fw-bold text-center">Portifólio</span>

    <p class="fs-5 mt-5">
        Nesta seção, apresento alguns projetos dos quais participei no processo de desenvolvimento. Cada projeto reflete uma diferente fase do meu aprendizado e das minhas habilidades como desenvolvedor!
        Ao clicar no botão "Ver projeto", um modal será exibido, proporcionando uma breve visualização do funcionamento de cada projeto. Se desejar ver como o projeto esta estruturado, o botão "Repositório" direcionara você até a página do repositoio no Github.
    </p>

    <div class="row justify-content-center g-3 mt-5">
      @for (item of itensPortfolio; track $index) {
        <div class="col-lg-6">
          <div class="card rounded-4 h-100">
            <img
              id="imgCard"
              class="card-img-top rounded-top-4"
              style="max-height: 250px"
              [src]="item.urlImagem"
            />
            <div class="card-body d-flex flex-column gap-2 h-100">
              <span id="stackCard" class="d-flex gap-1">
                @for (itemStack of item.stack; track $index) {
                  <img [src]="itemStack" width="35px;" />
                }
              </span>
              <h5 id="tituloCard" class="card-title mt-2">{{ item.titulo }}</h5>
              <div class="d-flex gap-2 mt-auto">
                <button
                  type="button"
                  (click)="itemPortfolioSelecionado =  item"
                  class="btn px-4 app-btn-principal"
                  data-bs-toggle="modal"
                  data-bs-target="#portfolioModal"
                  id="btnVerProjeto"
                >
                  <i class="bi bi-window-plus"></i>
                  Ver projeto
                </button>
                <a
                  id="urlRepositorio"
                  [href]="item.urlRepositorio"
                  target="_blank"
                  class="btn btn-outline-light"
                >
                  <i class="bi bi-github"></i>
                  Repositório
                </a>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</section>

<!-- Modal -->
<div
  class="modal fade"
  id="portfolioModal"
  tabindex="-1"
  aria-labelledby="portfolioModalLabel"
  aria-hidden="true"
  >

  <div class="modal-dialog modal-md">
      <div class="modal-content bg-dark text-white rounded-4">
        <div class="modal-header">
          <h5 class="modal-title" id="portfolioModalLabel">{{ itemPortfolioSelecionado?.titulo }}</h5>
          <button
            type="button"
            class="btn-close btn-close-white"
            data-bs-dismiss="modal"
            aria-label="Fechar"
          ></button>
        </div>
        <div class="modal-body text-center rounded-bottom-4 modal-body-customizado">
          <img
            id="portfolioModalImage"
            [src]="itemPortfolioSelecionado?.urlImagem"
            alt="Imagem do Projeto"
            class="img-fluid mb-3"
          />

          <span id="stackCard" class="d-flex justify-content-center gap-1 mb-2">
            @for (itemStack of itemPortfolioSelecionado?.stack; track $index) {
              <img [src]="itemStack" width="35px;" />
            }
          </span>

          <p>{{ itemPortfolioSelecionado?.descricao }}</p>

          <a
            id="urlRepositorio"
            [href]="itemPortfolioSelecionado?.urlRepositorio"
            target="_blank"
            class="btn btn-outline-light"
          >
            <i class="bi bi-github"></i>
            Repositório
          </a>
        </div>
      </div>
    </div>
</div>

<section id="contato" class="flex-column text-center">
  <div class="container my-auto">
    <span class="text-white fw-bold display-5 text-center">Contato</span>

    <div class="d-flex justify-content-center align-items-center mt-5 fs-5">
      <i class="bi bi-telephone"></i>
      <span class="text-white ps-2">(77) 98141-3593</span>
    </div>

    <div class="d-flex justify-content-center align-items-center mt-3 fs-5">
      <i class="bi bi-envelope-at"></i>
      <span class="text-white ps-2">vicente_pc@outlook.com</span>
    </div>

    <div class="d-flex justify-content-center align-items-center mt-3 fs-5">
      <i class="bi bi-pin-map"></i>
      <span class="text-white ps-2">Vitória da Conquista - BA - Brasil</span>
    </div>

    <div class="d-flex justify-content-center mt-5">
      <a target="_blank" href="https://github.com/vicentejrmc">
        <img alt="Github logo" src="github.png" />
      </a>

      <a target="_blank" href="">
        <img alt="Linkedin logo" src="linkedin.png" />
      </a>
    </div>
  </div>
</section>
