<section id="sobre" class="container justify-content-center mb-5">
  <div class="fs-5 my-auto">
    <h2 class="display-5 mb-5 mt-5 fw-semibold text-center">Sobre mim</h2>
    <p class="mt-2 text-white">
      Desenvolvedor em constante aprendizado!<br />
      Tenho me empenhado constantemente à aprender e aperfeiçoar técnicas que me tornem um
      profissional capacitado, tentando me manter sempre atualizado com o que há de mais moderno no
      que se diz respeito ao Desenvolvimento de Aplicações Web.<br />
      Atualmente tenho desenvolvido soluções com a finalidade de aprender e evoluir na plataforma
      .Net C#. criando alicações MVC, WebApi e Angular.<br />
      Na sessão de <a href="#portifolio"><span class="app-banner-text">Portifólio</span></a> poderá
      ver alguns projetos nos quais participei. cada um representa uma fase de meu aprendizado!
    </p>
  </div>
</section>
